{% extends "base.html" %}

{% block htmltitle %}{{ block.super }} | A&ntilde;adir usuario{% endblock %}

{% block main %}
<!--
{% for error in form.dni.errors %}
    <div class="alert alert-error"><strong>&iexcl;Error!</strong> {{ error|escape }} </div>
{% endfor %}
-->
    <h1>A&ntilde;adir usuario</h1>
    <br />
    <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        <input class="btn" type="submit" value="Crear" />
    </form>
{% endblock %}
