{% extends 'base.html' %}

{% block htmltitle %}
{{ block.super }} | Efectuar Devoluci&oacute;n
{% endblock htmltitle %}

{% block main %}

{% if mensaje %}
    <div class="mensaje">{{ mensaje }}</div>
{% endif %}
        <h2>Efectuar Devoluci&oacute;n</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>C&oacute;digo</th>
                    <th>Nombre</th>
                    <th>Termo</th>
                    <th>Mate</th>
                    <th>Bombilla</th>
                    <th>Fecha</th>
                    <th>Devolver</th>
                </tr>
            </thead>
        {% for foo in faltante %}
            <tbody>
                <tr>
                    <td>{{ foo.id }}</td>
                    <td>{{ foo.cliente }}</td>
                    <td>{{ foo.termo }}</td>
                    <td>{{ foo.mate }}</td>
                    <td>{{ foo.bombilla }}</td>
                    <td>{{ foo.fecha }}</td>
                    <td><a href="{% url devolver foo.id %}"><i class="icon-arrow-left"></i></a></td>
                </tr>
            </tbody>
        {% endfor %}
        </table>

{% endblock main %}
