{% extends 'base.html' %}

{% block htmltitle %}
{{ block.super }} | Pr&eacute;stamos
{% endblock htmltitle %}

{% block main %}

{% if mensaje %}
    <div class="mensaje">{{ mensaje }}</div>
{% endif %}
        <h2>Pr&eacute;stamos</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>C&oacute;digo</th>
                    <th>Nombre</th>
                    <th>Termo</th>
                    <th>Mate</th>
                    <th>Bombilla</th>
                    <th>Fecha</th>
                    <th>&iquest;Devuelto?</th>
                    <th>Fecha Devoluci&oacute;n</th>
                </tr>
            </thead>
        {% for foo in prestamo %}
            <tbody>
                <tr>
                    <td>{{ foo.id }}</td>
                    <td>{{ foo.cliente }}</td>
                    <td>{{ foo.termo }}</td>
                    <td>{{ foo.mate }}</td>
                    <td>{{ foo.bombilla }}</td>
                    <td>{{ foo.fecha }}</td>
                    <td>{% if foo.devuelto %}
                            <i class="icon-ok-sign"></i>
                        {% else %}
                            <i class="icon-remove-sign"></i>
                        {% endif %}
                    </td>
                    <td>
                    {% if foo.fecha_devolucion == None %}
                        -
                        {% else %}
                        {{ foo.fecha_devolucion }}
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        {% endfor %}
        </table>

{% endblock main %}
